  .board {
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    width: 696px;
    height: 600px;
  }

  .cell {
    border: 1px solid #eeeeee;
    width: 10px;
    height: 10px;
    display: flex;
    cursor: pointer;
  }

  .cell-snake-head {
    border: 1px solid #000;
    background-color: #000;
  } 

  .cell-snake-body {
    border: 1px solid #000;
  } 
